#rm-form {
    position: relative;
    padding-bottom: 40px;
}

.container {
    position: relative;
}

.radio-buttons-div {
    padding-top: 40px;
    padding-bottom: 40px;
}

.labels {
    position: absolute;
}

.labels-right {
    right: 0;
}

.labels-div {
    padding-top: 30px;
}

.mdl-data-table th {
	border-bottom: 1px solid rgba(0,0,0,.12);
	border-top: 1px solid rgba(0,0,0,.12);
	border-right: 1px solid rgba(0,0,0,.12);
	border-left: 1px solid rgba(0,0,0,.12);
	background-color:rgba(0,0,0,.01);
}

table {
	margin: 0 auto;
}
